In [ ]:
import numpy as np
# Using np.array
array_1d = np.array([1, 2, 3, 4, 5])

# Using np.arange (creates an array from start to stop with a step size)
array_1d_arange = np.arange(1, 6)  # [1, 2, 3, 4, 5]

# Using np.linspace (creates an array from start to stop with a specific number of points)
array_1d_linspace = np.linspace(0, 1, 5)  # [0. 0.25 0.5 0.75 1.]

In [ ]:
# Using np.array with nested lists
array_2d = np.array([[1, 2, 3], [4, 5, 6]])

# Using np.arange and reshaping
array_2d_reshape = np.arange(1, 7).reshape(2, 3)

In [ ]:
# Using np.array with nested lists
array_3d = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

# Using np.arange and reshaping
array_3d_reshape = np.arange(1, 9).reshape(2, 2, 2)

In [ ]:
element = array_1d[2]  # Access the third element (index 2)

In [ ]:
subarray = array_1d[1:4]  # Extract elements from index 1 to 3 ([2, 3, 4])

In [ ]:
reshaped_array = array_1d.reshape(5, 1)  # Reshape to 5x1

In [ ]:
concatenated_array = np.concatenate((array_1d, array_1d_arange))  # Concatenate 1D arrays

In [ ]:
ndim = array_3d.ndim  # 3

In [ ]:
shape = array_2d.shape  # (2, 3)

In [ ]:
flattened_array = array_2d.flatten()

In [ ]:
# Import necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns

# Step 1: Load the Titanic dataset using Seaborn
data = sns.load_dataset('titanic')

# Display the first few rows of the dataset
print("First 5 rows of the dataset:\n", data.head())

# Step 2: Clean and preprocess the data
# Handling missing values - fill with mean for numerical columns, mode for categorical columns
data['age'].fillna(data['age'].mean(), inplace=True)  # Fill missing values in 'age' with mean
data['embarked'].fillna(data['embarked'].mode()[0], inplace=True)  # Fill missing values in 'embarked' with mode
data.drop(columns=['deck'], inplace=True)  # Drop 'deck' column due to too many missing values

# Drop rows with any remaining missing values
data.dropna(inplace=True)

# Step 3: Normalization (Scaling values between 0 and 1 for numerical columns)
numeric_cols = data.select_dtypes(include=[np.number]).columns  # Select only numeric columns
normalized_data = data.copy()
normalized_data[numeric_cols] = (data[numeric_cols] - data[numeric_cols].min()) / (data[numeric_cols].max() - data[numeric_cols].min())

# Step 4: Standardization (Scaling values to have mean 0 and variance 1 for numerical columns)
standardized_data = data.copy()
standardized_data[numeric_cols] = (data[numeric_cols] - data[numeric_cols].mean()) / data[numeric_cols].std()

# Step 5: Calculate statistical measures
mean = data.mean(numeric_only=True)             # Mean of each numerical column
median = data.median(numeric_only=True)         # Median of each numerical column
std_dev = data.std(numeric_only=True)           # Standard deviation of each numerical column
variance = data.var(numeric_only=True)          # Variance of each numerical column

# Display the calculated statistical measures
print("\nMean:\n", mean)
print("\nMedian:\n", median)
print("\nStandard Deviation:\n", std_dev)
print("\nVariance:\n", variance)

# Display normalized and standardized data
print("\nNormalized Data (first 5 rows):\n", normalized_data.head())
print("\nStandardized Data (first 5 rows):\n", standardized_data.head())

First 5 rows of the dataset:
    survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Mean:
 survived       0.382452
pclass         2.311586
age           29.653446
sibsp          0.524184
parch          0.382452
fare          32.096681
adult_male     0.604049
alone          0.601800
dtype: float64

Median:
 survived       0.000000
pclass         3.000000
age           29.699118
sibsp          0.000000
parch          0.000000
fare          14.454200
adult_male     1.000000
alone          1.000000
dtype: float64

Standard Deviation:
 survived       0.486260
pclass         0.834700
age           12.968366
sibsp          1.103705
parch          0.806761
fare          49.697504
adult_male     0.489329
alone          0.489803
dtype: float64

Variance:
 survived         0.236448
pclass           0.696724
age            168.178525
sibsp            1.218164
parch            0.650863
fare          2469.841935
adult_male       0.239443
alone            0.239907
dtype: float64

Normalized Data (first 5 rows):
    survived  pclass     sex       age  sibsp  parch      fare embarked  class  \
0       0.0     1.0    male  0.271174  0.125    0.0  0.014151        S  Third
1       1.0     0.0  female  0.472229  0.125    0.0  0.139136        C  First
2       1.0     1.0  female  0.321438  0.000    0.0  0.015469        S  Third
3       1.0     0.0  female  0.434531  0.125    0.0  0.103644        S  First
4       0.0     1.0    male  0.434531  0.000    0.0  0.015713        S  Third

     who  adult_male  embark_town alive  alone
0    man        True  Southampton    no  False
1  woman       False    Cherbourg   yes  False
2  woman       False  Southampton   yes   True
3  woman       False  Southampton   yes  False
4    man        True  Southampton    no   True

Standardized Data (first 5 rows):
    survived    pclass     sex       age     sibsp     parch      fare  \
0 -0.786518  0.824744    male -0.590163  0.431108 -0.474059 -0.499958
1  1.269996 -1.571327  female  0.643609  0.431108 -0.474059  0.788503
2  1.269996  0.824744  female -0.281720 -0.474932 -0.474059 -0.486376
3  1.269996 -1.571327  female  0.412277  0.431108 -0.474059  0.422623
4 -0.786518  0.824744    male  0.412277 -0.474932 -0.474059 -0.483861

  embarked  class    who  adult_male  embark_town alive  alone
0        S  Third    man        True  Southampton    no  False
1        C  First  woman       False    Cherbourg   yes  False
2        S  Third  woman       False  Southampton   yes   True
3        S  First  woman       False  Southampton   yes  False
4        S  Third    man        True  Southampton    no   True